<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="{{ unePlanteAAfficher.image }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ unePlanteAAfficher.nom }}</h5>
    <p class="card-text">
      {{ unePlanteAAfficher.categorie }}
    </p>
    <p class="card-text df" *ngIf="unePlanteAAfficher.soleil === 'peu'">
      <app-soleil class="yellow"></app-soleil><app-soleil></app-soleil>
      <app-soleil></app-soleil> <app-soleil></app-soleil>
      <app-soleil></app-soleil> <app-soleil></app-soleil>
    </p>
    <p class="card-text df" *ngIf="unePlanteAAfficher.soleil === 'moyen'">
      <app-soleil class="yellow"></app-soleil
      ><app-soleil class="yellow"></app-soleil>
      <app-soleil class="yellow"></app-soleil> <app-soleil></app-soleil>
      <app-soleil></app-soleil> <app-soleil></app-soleil>
    </p>
    <p class="card-text df" *ngIf="unePlanteAAfficher.soleil === 'beaucoup'">
      <app-soleil class="yellow"></app-soleil
      ><app-soleil class="yellow"></app-soleil>
      <app-soleil class="yellow"></app-soleil>
      <app-soleil class="yellow"></app-soleil>
      <app-soleil class="yellow"></app-soleil>
      <app-soleil class="yellow"></app-soleil>
    </p>
    <p class="card-text df" *ngIf="unePlanteAAfficher.arrosage === 0">
      <app-goutte></app-goutte><app-goutte></app-goutte
      ><app-goutte></app-goutte>
    </p>
    <p class="card-text df" *ngIf="unePlanteAAfficher.arrosage === 2">
      <app-goutte class="blue"></app-goutte
      ><app-goutte class="blue"></app-goutte><app-goutte></app-goutte>
    </p>
    <p class="card-text df" *ngIf="unePlanteAAfficher.arrosage === 3">
      <app-goutte class="blue"></app-goutte
      ><app-goutte class="blue"></app-goutte
      ><app-goutte class="blue"></app-goutte>
    </p>
    <a [routerLink]="['/plant', unePlanteAAfficher.id]" class="btn btn-primary"
      >Consulter</a
    >
  </div>
</div>
