<div class="container">
    <h1 class="title">Plantdex</h1>
    
    <!-- <button class="btn btn-success" (click)="onClick()">
        Changer la valeur de plantsToDisplay
    </button> -->
    <!-- <ul>
        <li *ngFor="let plant of plantsToDisplay">{{ plant.nom }}</li>
    </ul> -->
    
    <!-- <div class="container-plants"> -->
        
<div id="flexIt">
    <app-filter-bar [categoriesRecupDeLaHome]="categories"></app-filter-bar>
    <app-plant-list [plants]="plantsToDisplay"></app-plant-list>
    </div>
</div>
 <!-- </div> -->