<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Gestion des utilisateurs:</h5>
        <form [formGroup]="loginForm">
            <p>Email :</p>
            <input formControlName="email" />
            <p>Mot de passe :</p>
            <input formControlName="password" />
            <button *ngIf="!storedToken" (click)="login()" class="btn btn-primary">Connexion</button>
            <button *ngIf="storedToken" (click)="signup()" class="btn btn-primary">Créer Utilisateur</button>
            <button *ngIf="storedToken" (click)="logout()" class="btn btn-primary">Déconnexion</button>
        </form>
    </div>
</div>